body {
  font-family: Arial;
  margin: 0;
  background: #f4f6f9;
}

/* CAPA */
.hero {
  text-align: center;
  padding: 50px;
  background: white;
}

/* CONTAINER */
.container {
  padding: 15px;
}

/* HEADER */
header {
  background: black;
  color: white;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

/* CARD */
.produto {
  background: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

/* BOTÃO WHATS */
.btn-whatsapp {
  display: inline-block;
  background: #25D366;
  color: white;
  padding: 8px;
  border-radius: 8px;
  text-decoration: none;
}

/* ANIMAÇÃO */
.show {
  opacity: 1;
  transition: 0.3s;
}

.hide {
  display: none;
}
